
h1 {
	margin: 1em 0em;
	text-transform: uppercase;
	font-weight: bold;
	text-align: left;
}

h2 {
	margin-top: 1.5em;
	text-align: left;
	font-variant: small-caps;
}
/*
h3 {
	margin-top: 1em;
	text-align: left;
	font-variant: none;
}
*/
ul {
	list-style-type: disc;
	list-style-position: outside;
	margin-left: 1em;
	font-size: 100%;
}

li {
	margin-left: 1em;
	font-size: 100%;
}

footer {
	margin-top: 2em;
}

hr {
	height: 3px;
	width: 100%;
	border: none;
	background-color: linen;
}

hr.thin {
	height: 2px;
	width: 100%;
	border: none;
	background-color: linen;
}

hr.medium {
	height: 4px;
	width: 100%;
	border: none;
	background-color: linen;
}

hr.thick {
	height: 6px;
	width: 100%;
	border: none;
	background-color: linen;
}

div {
	margin-bottom: 0;
}

section {
	margin-bottom: 0;
}

/*
section {
	margin-bottom: 3rem;
    border-bottom: 2px solid lightgray;
}

section#slider {
	margin-bottom: 0;
}
*/

/* hero image */

#slider {
	background: url(../images/hero.jpg) no-repeat;
	height: auto;
}

.faq {
	height: auto;
}

.faq blockquote {
	font-weight: normal;
	font-size: 100%;
}

.faq li {
	font-weight: normal;
	font-size: 100%;
}

.conference {
	margin-bottom: 0;
}

.conference div {
	padding: 10px;
	text-align: center;
}

.conference h1 {
	margin: 1rem 1rem;
	text-align: center;
}

.conference h2 {
	margin: 1rem 1rem;
	text-align: center;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (min-width: 800px) {
	.vh-center {
	  margin: 0;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	}
}

.attendees {
	margin-bottom: 0;
}

.attendees div {
	padding: 10px;
	text-align: center;
}

.attendees h1 {
	margin: 1rem 1rem;
	text-align: left;
	text-transform: uppercase;
}

.attendees h2 {
	margin: 1rem 1rem;
	text-align: left;
	font-variant: small-caps;
}

.attendees h3 {
	margin: 1rem 1rem;
	text-align: left;
	text-transform: capitalize;
}

.speaking {
	margin: 1rem 1rem;
	text-align: center;
	width: 100%;
	background-color: linen;
	padding: 10px;
	border: 2px solid #fff;
	outline: 2px solid #dcdcdc;
}

.speaking h1 {
	margin: 2rem 0rem;
	text-align: left;
}

.speaking h2 {
	margin: 1.5rem 0rem;
	text-align: left;
	text-transform: none;
}

.about-us {
	margin: 1rem 1rem;
	text-align: left;
	width: 100%;
	background-color: linen;
	padding: 10px;
	border: 2px solid #fff;
	outline: 2px solid #dcdcdc;
}

.about-us h1 {
	margin: 2rem 0rem;
	text-align: left;
	padding: 15px;
	text-transform: uppercase;
}

.about-us h2 {
	margin: 1.5rem 0rem;
	text-align: left;
	font-variant: small-caps;
	padding: 10px;
}

.about-us h3 {
	margin: 1rem 0rem;
	text-align: left;
	text-transform: capitalize;
	padding: 10px;
}

.highlight {
	background-color: lightyellow;
	margin: 1rem 1rem;
	padding: 5px;
	text-align: left;
}

.btn {
	margin: 1em;
}

.page-div {
	margin: 1rem 1rem;
	text-align: center;
	width: 100%;
	background-color: linen;
}

.page-div h1 {
	margin: 1rem 0;
	text-align: center;
}

.page-div h2 {
	margin: 1rem 0;
	text-align: center;
}

.block-text {
	margin: 3rem 1rem;
	text-align: justify;
	border: 1px solid #dcdcdc;
	background-color: #fafafa;
	padding: 1rem;
	width: auto;
}

.block-text h1 {
	text-transform: uppercase;
	font-weight: bold;
	text-align: left;
	margin: 1rem 0rem;
}

.block-text h2 {
	font-variant: small-caps;
	font-weight: bold;
	text-align: left;
	margin: 1rem 0rem;
}

.attention {
	background-color: orange;
	margin: 1rem 3rem;
	padding: 1rem;
	text-align: center;
}

.attention h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
}

.attention h2 {
	font-weight: bold;
	font-size: 2em;
	font-variant: small-caps;
	text-align: center;
}

.attention h3 {
	font-weight: bold;
	font-size: 1.3em;
	font-variant: small-caps;
	text-align: center;
}

.attention h4 {
	font-weight: normal;
	font-size: 1em;
	font-style: italic;
	text-align: center;
}

.tickets {
	width: auto;
}

.tickets h1 {
	background-image: url(../images/ticket-admit-one.jpg), url(../images/ticket-admit-one.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-color: wheat;
	background-position: left, right;
	width: 100%;
	height: auto;
	display: inline-block;
	text-align: center;
}

.ticket-options {
	list-style: none;
	text-align: center;
	background-color: none;
	width: auto;
	height: auto;
	padding: 0;
}

@media screen and (min-width: 800px) {
	.ticket-options {
    margin: 1rem 10rem;
	}
}

.ticket-options li {
	border: 1px solid #dcdcdc;
	margin: 1rem 1rem;
	padding: 25px;
	display: flex;
	flex-flow: row wrap;
	background-color: wheat;
}
.ticket-options h2 {
    font-size: 2rem;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
	width: 70%;
	margin: 0;
	padding: 0;
}
.ticket-options .price {
	font-size: 2rem;
	text-align: right;
	font-weight: bold;
	width: 30%;
	margin: 0;
	padding: 0;
}
.ticket-options .info {
	text-align: left;
	width: 100%;
	margin: 0;
	padding: 0;
}

.keynotes {
	margin-top: 1rem;
	margin-bottom: 0;
}

.keynotes h2 {
	margin-top: 4rem;
	font-size: 2em;
}

.keynotes h3 {
	margin-top: 3rem;
	font-size: 1.3em;
}

.location {
	margin: 1rem 1rem 1rem 3rem;
}

.location h1 {
	margin: 3rem 1rem;
	text-align: left;
	text-transform: uppercase;
}

.location h2 {
	margin: 1rem 0;
	text-align: left;
	font-variant: small-caps;
}

.sponsors {
	margin: 3rem 1rem;
	text-align: center;
}

.sponsors h1 {
	margin: 3rem 3rem;
	text-transform: uppercase;
	text-align: left;
	width: auto;
}

.sponsors h2 {
	margin: 1rem 0;
	text-transform: uppercase;
	text-align: center;
	background-color: sandybrown;
	width: 100%;
}

@media screen and (min-width: 800px) {
	.sponsors {
		margin: 3rem 3rem;
	}
}

.sponsor-intro {
	text-align: center;
}

.sponsor-class {
	text-transform: uppercase;
	margin: 4rem 0 1.5rem 0;
	font-weight: bold !important;
	text-align: center;
	background-color: sandybrown;
	width: 100%;
}

.sponsor {
	box-sizing: border-box;
	padding: 2rem;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	max-width: 80%;
	font-size: 8px;
}

.sponsor img {
	max-width: 100%;
	text-align: center;
}

.sponsor-grid {
	margin: 10px 5px;
	text-align: center;
	height: 50%;
	width: 50%;
	padding: 10px;
	background-color: ivory;
/*	border: 2px solid #fff;
	outline: 2px solid #dcdcdc;*/
}

.sponsor-grid img {
	height: 100%;
	max-width: 100%;
	text-align: center;
}

.sponsor-diamond {
	width: 100%;
}

.sponsor-platinum {
	height: 50%;
	width: 350px;
}

.sponsor-gold {
	height: 70%;
	width: 250px;
}

.sponsor-silver {
	height: 60%;
	width: 200px;
}

.sponsor-bronze {
	height: 50%;
	width: 150px;
}

.sponsor-in-kind, .sponsor-partners, .sponsor-experiences {
	height: 50%;
	width: 250px;
}

.sponsor-talk {
	margin: 2rem 1rem;
	text-align: left;
	padding: 10px;
	font-size: 9px;
}

/* Tooltip container */
.mytooltip {
  position: relative;
  display: inline-block;
  visibility: visible;
}

.mytooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: PaleTurquoise;
  color: black;
  text-align: center;
  border-radius: 6px;
  border: 2px solid #dcdcdc;
  padding: 5px 0;
  font-size: 12px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.mytooltip:hover .mytooltiptext {
  visibility: visible;
}

#sponsorship-pricing:hover, #sponsorship-pricing:focus {
  cursor: zoom-in;
}

.fluid-image {
	max-width: 65%;
	height: auto;
}

.hotellist {
	list-style-type: none;
	margin: 0;
}

.hotellist li {
	margin: 5px;
}

.venueimage {
	border: 8px solid white;
	outline: 1px solid #ddd;
}
.venueimage img {
	width: 100%;
}

.full-logo-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: auto;
	text-align:center;
}

ul.social {
	list-style-type: none;
	font-size: 50px;
	margin: 0;
	padding: 0;
	text-align: center;
}

ul.social > li {
	display: inline-block;
    padding: 0 10px;
    margin: 10px;
}

.hidden-text {
	height: 0;
	margin-left: -9999em;
}

.appstore-image {
	height: 80px;
}

.conf-details-dates {
	margin-top: 75px;
}
.conf-details-loc {
	margin-top: 50px;
}

.upcoming-dates {
	font-size: 2rem;
	margin-top: 5rem;
}

.warning {
	font-size: 20px;
	padding: 15px;
	border-radius: 10px;
}

/* schedule grid */
.schedule > div {
  text-align: center;
  outline: 1px solid #000;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 13px;
}

.schedule > .gap {
  outline: none;
  height: 15px;
}

.schedule .no-mobile {
  display: none;
}

.schedule a:link, .schedule a:visited {
	color: #00a;
	text-decoration: underline !important;
}

.schedule .lilac {
  background-color: #b3f1ff;
}
.schedule .times.lilac {
  background-color: white;
}
.schedule .track1 {
  background-color: #d0ffb3;
}
.schedule .track2 {
  background-color: #ffdeb3;
}
.schedule .track3 {
  background-color: #c5b3ff;
}
.schedule .track4 {
  background-color: #f08080;
}
.schedule .sponsor, .schedule .sponsor1, .schedule .sponsor2 {
  background-color: #ffc6d2;
}
.schedule .training, .schedule .other-events {
  background-color: #fffb99;
}
.schedule .empty {
	display: none;
}

.schedule .title {
  font-weight: bold;
}
.schedule .room {
  font-style: italic;
}
.schedule .presenter {
  font-style: italic;
}

.schedule .icon-tags {
	display: inline-block;
}
.schedule .icon-tags > ul {
	list-style: none;
	display: flex;
	margin: 0 3px 0 0;
	padding: 0;
}

.schedule .icon-tags > ul > li {
	margin: 0;
	padding: 0 3px;
}

.schedule-legend {
	border: 1px solid black;
	margin: 25px 0;
	padding: 15px;
	font-size: 13px;
}

.schedule-legend h3 {
	font-size: 1.3em !important;
}

.schedule-legend dt {
	float: left;
}
.schedule-legend dt:after {
	content: "-";
	padding: 0 5px;
}

@media (min-width: 960px) {
  .schedule {
    display: grid;
    gap: 1px;
  }

  .schedule-2023 {
  	grid-template-columns: 0.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .schedule-2024 {
  	grid-template-columns: 0.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr;
  }

  .schedule-2025 {
  	grid-template-columns: 0.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .schedule > div {
    margin-bottom: 0;
  }

  .schedule .empty {
  	display: block;
  }

  .schedule .no-mobile {
    display: block;
  }
  .schedule > .gap {
    display: none;
  }

  .schedule .ballroom {
    background-color: cyan;
  }

  .schedule-2023 .full-session {
    grid-column-end: span 7;
  }

  .schedule-2024 .full-session {
    grid-column-end: span 5;
  }

  .schedule-2025 .full-session {
    grid-column-end: span 6;
  }

  .schedule .columns-2 {
	  grid-column-end: span 2;
	  width: 100%;
  }

  .schedule .rows-2 {
    grid-row-end: span 2;
  }
  
  .schedule .session > .times, .schedule .session > .room, .schedule .full-session > .times {
    display: none;
  }

  .schedule .sponsor {
  	max-width: 100%;
  }

  .schedule .session > .title {
  	font-weight: normal;
  	padding-bottom: 5px;
  }

  .schedule .session > .sponsor {
  	font-weight: bold;
  	font-size: 1em;
  	padding-bottom: 5px;
  	padding-top: 0;
  }

  .schedule-legend {
  	width: 75%;
  	margin: 25px auto;
  	padding: 25px;
  }

  .schedule-legend dl {
  	display: flex;
  }

  .schedule-legend
}

/* app links */
#app p {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

#app ul, .app-links {
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	width: 50%;
	margin: 0 auto;
	padding: 0;
}

#app li, .app-links li {
	text-align: center;
	margin: 0 auto;
}

#app img, .app-links img {
	height: 60px;
	margin-bottom: 20px;
}

@media (min-width: 800px) {
	#app li, .app-links {
		width: 50%;
	}

	/* cpe info */
	#cpe {
		background-color: #dcdcdc;
		border: 2px solid #fff;
		outline: 2px solid #dcdcdc;
		padding: 1rem;
	}
	#cpe h1,h2,h3 {
		margin-top: .5rem;
		padding-top: 0;
		text-transform: uppercase;
		font-weight: bold;
		text-align: left;
	}
}

/* session descriptions */
.session-abstract {
	margin-top: 8rem;
}

dialog .session-abstract {
	margin-top: 0;
}

.session-abstract .bios {
	padding-left: 5rem;
}

.session-abstract h3 {
	font-size: 2rem;
	margin-top: 2rem;
}

#eventzilla-iframe {
	height: 375px;
}

#schedule-modal {
	width: 100%;
	height: 75vh;
	border: 1px solid #000;
	padding: 5px;
	overflow-y: auto;
}

#schedule-modal header {
  float: right;
  margin: 0;
  padding: 0;
}

#schedule-modal header button {
	background: white;
	font-size: 3rem;
	margin: 0;
	padding: 0;
	border: none;
}

@media screen and (min-width: 800px) {
	#schedule-modal {
		width: 75%;
		padding: 15px;
	}
}


.past-events-block {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
}
.past-event-card {
	margin: 1em;
	paddding: 1em;
	box-sizing: border-box;
}
.past-event-card a {
	display: block;
	width: 100%;
	height: 100%;
	color: black;
	padding: 1em;
	border: 1px solid #ddd;
}
.past-event-card a:hover, .past-event-card a:focus {
	border-color: #000;
	background-color: #eee;
}
.past-event-card img {
	max-width: 100%;
	display: block;
}
.past-event-card  h1 {
  font-size: 2em;
  text-align: center;
}
.past-event-card  h2 {
  font-size: 1.5em;
  text-align: center;
}

@media screen and (min-width: 800px) {
	.past-event-card {
		width: 30%;
	}
}