/* hero image */
#slider {
	background: url(../images/hero.jpg) no-repeat;
}

.btn {
	margin :1em;
}

.sponsors {
	text-align: center;
}

.sponsor-class {
	text-transform: uppercase;
	margin: 4rem 0 1.5rem 0;
	font-weight: bold !important;
}

.sponsor {
	box-sizing: border-box;
	padding: 2rem;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
}

.sponsor img {
	max-width: 100%;
}

.sponsor-diamond {
	width: 450px;
}

.sponsor-platinum {
	width: 300px;
}

.sponsor-gold, .sponsor-in-kind, .sponsor-partners {
	width: 250px;
}

.sponsor-silver {
	width: 200px;
}

.sponsor-bronze {
	width: 150px;
}

#sponsorship-pricing:hover, #sponsorship-pricing:focus {
  cursor: zoom-in;
}

.fluid-image {
	max-width: 100%;
	height: auto;
}

h2 {
	margin-top: 1.5em;
}

ul {
	list-style-type: disc;
	list-style-position: outside;
	margin-left: 1em;
}

li {
	margin-left: 1em;
}

footer {
	margin-top: 2em;
}

.hotellist {
	list-style-type: none;
	margin: 0;
}

.hotellist li {
	margin: 5px;
}

.venueimage {
	border: 8px solid white;
	outline: 1px solid #ddd;
}
.venueimage img {
	width: 100%;
}

ul.social {
	list-style-type: none;
	font-size: 50px;
	margin: 0;
	padding: 0;
	text-align: center;
}

ul.social > li {
	display: inline-block;
    padding: 0 10px;
    margin: 10px;
}

.hidden-text {
	height: 0;
	margin-left: -9999em;
}

.appstore-image {
	height: 80px;
}