/* hero image */
#slider {
	background: url(../images/hero.jpg) no-repeat;
}

.btn {
	margin :1em;
}

.sponsors {
	text-align: center;
}

.sponsor-class {
	text-transform: uppercase;
	margin: 4rem 0 1.5rem 0;
	font-weight: bold !important;
}

.sponsor {
	box-sizing: border-box;
	padding: 2rem;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
}

.sponsor img {
	max-width: 100%;
}

.sponsor-diamond {
	width: 450px;
}

.sponsor-platinum {
	width: 300px;
}

.sponsor-gold, .sponsor-in-kind, .sponsor-partners {
	width: 250px;
}

.sponsor-silver {
	width: 200px;
}

.sponsor-bronze {
	width: 150px;
}

#sponsorship-pricing:hover, #sponsorship-pricing:focus {
  cursor: zoom-in;
}

.fluid-image {
	max-width: 100%;
	height: auto;
}

h2 {
	margin-top: 1.5em;
}

ul {
	list-style-type: disc;
	list-style-position: outside;
	margin-left: 1em;
}

li {
	margin-left: 1em;
}

footer {
	margin-top: 2em;
}

.hotellist {
	list-style-type: none;
	margin: 0;
}

.hotellist li {
	margin: 5px;
}

.venueimage {
	border: 8px solid white;
	outline: 1px solid #ddd;
}
.venueimage img {
	width: 100%;
}

ul.social {
	list-style-type: none;
	font-size: 50px;
	margin: 0;
	padding: 0;
	text-align: center;
}

ul.social > li {
	display: inline-block;
    padding: 0 10px;
    margin: 10px;
}

.hidden-text {
	height: 0;
	margin-left: -9999em;
}

.appstore-image {
	height: 80px;
}

.ticket-options {
	list-style: none;
	margin: 0;
}
.ticket-options li {
	border: 1px solid #dcdcdc;
	margin: 10px 0;
	padding: 25px;
	display: flex;
	flex-flow: row wrap;
}
.ticket-options h2 {
    font-size: 2rem;
    font-weight: normal;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    width: 75%;
}
.ticket-options .price {
	font-size: 2rem;
	text-align: right;
	width: 25%;
	font-weight: bold;
}
.ticket-options .info {
	width: 100%;
}

.conf-details-dates {
	margin-top: 75px;
}
.conf-details-loc {
	margin-top: 50px;
}

.warning {
	font-size: 20px;
	padding: 15px;
	broder-radius: 10px;
}


section {
	margin-bottom: 8rem;
}

section#slider {
	margin-bottom: 0;
}

/* schedule grid */
.schedule > div {
  text-align: center;
  outline: 1px solid #000;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 13px;
}

.schedule > .gap {
  outline: none;
  height: 15px;
}

.schedule .no-mobile {
  display: none;
}

.schedule a:link, .schedule a:visited {
	color: #00a;
	text-decoration: underline !important;
}

.schedule .lilac {
  background-color: #b3f1ff;
}
.schedule .times.lilac {
  background-color: white;
}
.schedule .track1 {
  background-color: #d0ffb3;
}
.schedule .track2 {
  background-color: #ffdeb3;
}
.schedule .track3 {
  background-color: #c5b3ff;
}
.schedule .track4 {
  background-color: #f08080;
}
.schedule .sponsor, .schedule .sponsor1, .schedule .sponsor2 {
  background-color: #ffc6d2;
}
.schedule .training {
  background-color: #fffb99;
}
.schedule .empty {
	display: none;
}

.schedule .title {
  font-weight: bold;
}
.schedule .room {
  font-style: italic;
}
.schedule .presenter {
  font-style: italic;
}

@media (min-width: 960px) {
  .schedule {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1px;
  }

  .schedule > div {
    margin-bottom: 0;
  }

  .schedule .empty {
  	display: block;
  }

  .schedule .no-mobile {
    display: block;
  }
  .schedule > .gap {
    display: none;
  }

  .schedule .ballroom {
    background-color: cyan;
  }

  .schedule .full-session {
    grid-column-end: span 7;
  }

  .schedule .columns-2 {
    grid-column-end: span 2;
  }

  .schedule .rows-2 {
    grid-row-end: span 2;
  }
  
  .schedule .session > .times, .schedule .session > .room, .schedule .full-session > .times {
    display: none;
  }

  .schedule .session > .title {
  	font-weight: normal;
  	padding-bottom: 5px;
  }
}

/* app links */
#app p {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

#app ul {
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	width: 50%;
	margin: 0 auto;
	padding: 0;
}

#app li {
	text-align: center;
	margin: 0 auto;
}

#app img {
	height: 60px;
	margin-bottom: 20px;
}

@media (min-width: 800px) {
	#app li {
		width: 50%;
	}